<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group" *ngFor="let server of servers; let i = index;">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        href="#"
        class="list-group-item">
        {{ server.name }}
      </a>

      <div class="cross" (click)="deleteElement(i)">X</div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4" style="width: 65%;">
    <router-outlet></router-outlet>
    <!-- <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server> -->
  </div>
</div>

